@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
/* import des icones du site Web Font-Awesome */
body{
    font-family: 'Lato', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


.login-block{
    background: #ff2503;  /* fallback for old browsers */
    background: -webkit-linear-gradient( 128deg, #888, #ff2503);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( 128deg, #888, #ff2503); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    float:left;
    width:100%;
    padding : 50px 0;
}
.banner-sec{
    background:url("images/logfont.jpg")  no-repeat left bottom; 
    background-size:cover; 
    min-height:500px; 
    border-radius: 0 10px 10px 0;
    padding:0;
}
.container{
    background:#fff;
     border-radius: 10px; 
     box-shadow:15px 20px 0px rgba(0,0,0,0.1);
    }
.carousel-inner{
    border-radius:0 10px 10px 0;
}
.carousel-caption{
    text-align:left; left:5%;
}
.login-sec{
    padding: 50px 30px; 
    position:relative;
}
.login-sec .copy-text{
    position:absolute;
     width:80%; 
     bottom:20px; 
     font-size:13px; 
     text-align:center;
}
.login-sec .copy-text i{
    color:#ff6002;
}
.login-sec .copy-text a{
    color:#ee2000;
}
.login-sec h2{
    margin-bottom:30px; 
    font-weight:800; 
    font-size:30px;
     color: #aa1502;
}
.login-sec h2:after{
    content:" "; 
    width:100px; 
    height:5px;
     background:#aa2400; 
     display:block; 
     margin-top:20px; 
     border-radius:3px;
      margin-left:auto;
      margin-right:auto
}
.btn-login{
    background: #dd2025;
     color:#fff; 
     font-weight:600;
     width: 120px;
    }
.btn-login:hover{
    width: 125px;
    height: 40px;
    background: #bb1818;
}    
.banner-text{
    width:70%; 
    position:absolute;
     bottom:40px; 
     padding-left:20px;
    }
.banner-text h2{
    color:#fff; 
    font-weight:600;
}
.banner-text h2:after{
    content:" ";
     width:100px;
      height:5px;
       background:#FFF;
        display:block;
         margin-top:20px;
          border-radius:3px;
        }
.banner-text p{
    color:#fff;
}